<!DOCTYPE html>
<html>
<head>
  <title>Store</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav id='nav'>
  <div id='page_nav'>
    <%= link_to "Home", root_path %>
    <%= link_to "Store", products_path %>
    <%= link_to "About", page_about_path %>
    <%= link_to "FAQs", page_faqs_path %>
    <%= link_to "Contacts", page_contact_path %>
  </div>

  <div id='sign_in'>
    <%= link_to "Cart", cart_path(@cart) %>  
    <% if user_signed_in? %>
        <%= link_to "Logut", destroy_user_session_path, method: :delete %>
      <% else %>  
        <%= link_to "Login", new_user_session_path %>
        <%= link_to "Registration", new_user_registration_path %>
    <% end -%>
  </div>
</nav>

<div id='main_wrap'>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</div>

</body>
</html>
